{% extends 'grid/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h2 class="mt=2">Provide grid information</h1>
<hr class="mt-0 mb-4">
<form enctype="multipart/form-data" method="post" action="">
	{% csrf_token %}
	<div class="row">
		<div class="col-md-2 col-md-offset-5">
			{{form.size|as_crispy_field}}
		</div>					
	</div>				
	<div class="row">
		<div class="col-md-2 col-md-offset-4">
			{{form.nIn|as_crispy_field}}
		</div>
		<div class="col-md-2">
			{{form.nOut|as_crispy_field}}
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 col-md-offset-4">
			{{form.w|as_crispy_field}}
		</div>
		<div class="col-md-2">
			{{form.l|as_crispy_field}}
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 col-md-offset-4">
			{{form.diffCoeff|as_crispy_field}}
		</div>
		<div class="col-md-2">
			{{form.initV|as_crispy_field}}
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 col-md-offset-5">
			{{form.input_file|as_crispy_field}}
		</div>
	</div>
	
	<button type="submit" class="btn">Submit</button>
</form>
	
<!-- <div class="form-style">
	<div class="form-heading">Provide grid information</div>
	<form method="post">		
		{% csrf_token %}
		{{ form }}						
		<input type="submit" value="Submit">		
	</form>
</div> -->
{% endblock %}