{% extends 'grid/base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-2">
<table class="table result-table">
    <thread>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Velocity (mm/s)</th>
            <th scope="col">Concentration (mol/m^3)</th>
        </tr>
    </thread>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td id="v1">{{data.vList.0|floatformat:2 }}</td>
            <td id="c1">{{data.cList.0|floatformat:2 }}</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td id="v2">{{data.vList.1|floatformat:2 }}</td>
            <td id="c2">{{data.cList.1|floatformat:2 }}</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td id="v3">{{data.vList.2|floatformat:2 }}</td>
            <td id="c3">{{data.cList.2|floatformat:2 }}</td>
        </tr>
    </tbody>
</table>
</div>
<div class = "col-sm-8">
	<div id='graph-container'></div>
     <div class="row btn-run">   
        <button class="btn">Run</button>
    </div>
    <div id="error-msg"></div>
    <script type="text/javascript" src="{% static 'js/sigma.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	<script>
    	var raw = "{{data.graph}}";
        var eclickcolor = '#e62739';
        var edefaultcolor = '#e1e8f0';
        var g = JSON.parse(raw.replace(/(&quot\;)/g,"\""));    	
        s = new sigma({
          graph: g,
          renderer: {
            container: document.getElementById('graph-container'),
            type: 'canvas'
          },
          settings: {
            doubleClickEnabled: false,
            minEdgeSize: 0.5,
            maxEdgeSize: 4,
            enableEdgeHovering: true,
            edgeHoverColor: 'default',
            defaultEdgeHoverColor: '#9068be',
            edgeHoverSizeRatio: 1,
            edgeHoverExtremities: true,
            defaultEdgeColor:'#6ed3cf',
            enableCamera: false
          }
        });
        s.refresh();
        console.log("{{data.vList}}}");
        // Bind the events:
        // s.bind('overNode outNode clickNode doubleClickNode rightClickNode', function(e) {
        //   console.log(e.type, e.data.node.label, e.data.captor);
        // });
        // s.bind('overEdge outEdge clickEdge doubleClickEdge rightClickEdge', function(e) {
        //   console.log(e.type, e.data.edge, e.data.captor);
        // });
        s.bind('clickEdge doubleClickEdge', function(e) {
            if(e.data.edge.mutable){
                if(!e.data.edge.selected){
                    e.data.edge.color = eclickcolor;
                    e.data.edge.selected = true;
                }else{
                    e.data.edge.color = edefaultcolor;
                    e.data.edge.selected = false;
                }
                    
            }
            console.log(e.data.edge)
            s.refresh();                    
        });
    
    //ajax request to get graph back to views
    $(document).ready(function (){           
      $("button").click(function(){
        var graph = {
            'nodes': s.graph.nodes(),
            'edges': s.graph.edges()
        }

        $.ajax({
            url: '/draw',
            type: 'POST',
            data: {
                status: 1,
                graph: JSON.stringify(graph)
            },
            dataType: 'json',
            success: function (data) {
                // var msg = $(".side-nav-right").text();
                if (data=='0'){
                    $("#error-msg").text("Grid is not connected");
                    $("#cresult").text("");
                    $("#vresult").text(""); 
                }else{
                    $("#error-msg").text("");
                    $("#v1").text(data.vList[0].toFixed(2));$("#v2").text(data.vList[1].toFixed(2));$("#v3").text(data.vList[2].toFixed(2));
                    $("#c1").text(data.cList[0].toFixed(2));$("#c2").text(data.cList[1].toFixed(2));$("#c3").text(data.cList[2].toFixed(2));  
                    var g = data.graph;
                    s.graph = g;
                    s.refresh();                                   
                }                
            }
        });//end ajax request
      });//end click button
    });   
    </script>
</div>
{% endblock %}


