{% extends 'grid/base.html' %}
{% load static %}
{% load app_filters %}
{% block content %}
<div class="row main justify-content-center">
    <div class = "col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <div class="row justify-content-center">
            <div class= "title-input col-2">Inlet</div>
            <div class="title-input col-5">Velocity</div>
            <div class="title-input col-5">Concentration</div>
        </div>
        <div class="row justify-content-center">
            <div class= "title-input col-2">#</div>
            <div class="title-input col-5">(1-100 mm/s)</div>
            <div class="title-input col-5">(0-1)</div>
        </div>
        {% for key,value in data.initC.items %}
        <div class="row align-items-center" id="in{{key}}">
            <div class= "title-input disable-num col-2">{{key}}</div>
            <div class="form-group col-5">
                <input type="number" class="form-control" step="0.01" min="0" value="{{data.initV|lookup:key}}" id="iv{{key}}">
            </div>
            <div class="form-group col-5">
                <input type="number" class="form-control" step="0.01" min="0" value="{{value}}" id="ic{{key}}">
            </div>
        </div>
        {% endfor %}
       
        <div id="error-msg"></div>
        <div class="row align-items-center">
            <div class = "title-input col-2">Outlet</div>
            <div class="title-input col-5">Velocity</div>
            <div class="title-input col-5">Concentration</div>
        </div>
        <div class="row align-items-center">
            <div class= "title-input col-2">#</div>
            <div class="title-input col-5">(mm/s)</div>
            <div class="title-input col-5"></div>
        </div>     
        <div id="tresult">
        {% for key,value in data.initC.items %}
            <div class="row align-items-center" id="out{{key}}">
                <div class= "title-input disable-num col-2">{{key}}</div>
                <div class="form-group col-5">
                    <input  id="vel{{key}}" type="number" readonly="readonly" onfocus="this.blur()" class="form-control-plaintext" value="">
                </div>
                <div class="form-group col-5">
                    <input  id="con{{key}}" type="number" readonly="readonly" onfocus="this.blur()" class="form-control-plaintext" value="">
                </div>
            </div>
        {% endfor %}  
        </div>          
    </div>
   
    <div class = "col-sm-6 col-md-6 col-lg-8 col-xl-9">
        <div id='graph-container'></div>  
        <div class = "row justify-content-center btn-download">
            <div class="btn-run">            
            <button class="btn" id="run-btn">Run</button>
            </div>
            <button class="btn" id="download-btn">Download Grid File</button>
        </div>  
    </div>    
</div>

<script type="text/javascript" src="{% static 'js/sigma.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/FileSaver.min.js' %}"></script>
<script>
    var raw = "{{data.graph}}";
    var eclickcolor = '#fbaf08';
    var edefaultcolor = '#e1e8f0';
    var defaultcolor = '#6ed3cf';
    var ehoovercolor = '#ffdc6a';
    var nc = parseInt("{{data.nc}}");
    var nr = parseInt("{{data.nr}}");
    var g = JSON.parse(raw.replace(/(&quot\;)/g,"\""));    
    s = new sigma({
      graph: g,
      renderer: {
        container: document.getElementById('graph-container'),
        type: 'canvas'
      },
      settings: {
        doubleClickEnabled: false,
        minEdgeSize: 0.5,
        maxEdgeSize: 4,
        enableEdgeHovering: true,
        edgeHoverColor: 'default',
        defaultEdgeHoverColor: ehoovercolor,
        edgeHoverSizeRatio: 1,
        edgeHoverExtremities: true,
        defaultEdgeColor:defaultcolor,
        enableCamera: false,
        defaultLabelColor:defaultcolor,
      }
    });

    s.refresh();        
    s.bind('clickEdge doubleClickEdge', function(e) {
        if(e.data.edge.mutable){
            if(!e.data.edge.selected){
                e.data.edge.color = eclickcolor;
                e.data.edge.selected = true;
                s.graph.nodes(e.data.edge.source).color = eclickcolor;
                s.graph.nodes(e.data.edge.target).color = eclickcolor;   
                // check if source is input to mark inlet
                var source = e.data.edge.source;
                var target = e.data.edge.target;
                if (parseInt(source)<=nc){
                    var inid = "in"+source;
                    var elem = document.getElementById(inid);
                    elem.style.color = eclickcolor;
                }else if(parseInt(target)>(nr+1)*nc){
                    if(target%nc==0)
                        var outid = "out"+nc;
                    else
                        var outid = "out"+(target%nc);
                    var elem = document.getElementById(outid);
                    elem.style.color = eclickcolor;
                    console.log("change outlet color");
                }      
            }else{
                e.data.edge.color = edefaultcolor;
                e.data.edge.selected = false;
                var source = s.graph.nodes(e.data.edge.source);
                var target = s.graph.nodes(e.data.edge.target);
                var sedges = s.graph.edges().filter(edge => edge["source"]===source.id || edge["target"]===source.id);                
                var flag = false;
                if (parseInt( e.data.edge.source)<=nc){
                    var inid = "in"+ e.data.edge.source;
                    var elem = document.getElementById(inid);
                    elem.style.color = edefaultcolor;
                }else if(parseInt(e.data.edge.target)>(nr+1)*nc){
                    if(parseInt(e.data.edge.target)%nc==0)
                        var outid = "out"+nc;
                    else
                        var outid = "out"+(parseInt(e.data.edge.target)%nc);
                    var elem = document.getElementById(outid);
                    elem.style.color = edefaultcolor;
                }          
                for(var i=0;i<sedges.length;i++){
                    if(sedges[i].selected==true){
                        flag = true;
                        break;
                    }    
                }
                if(flag==false)
                    source.color = edefaultcolor;
                var tedges = s.graph.edges().filter(edge => edge["source"]===target.id || edge["target"]===target.id);
                flag = false;
                 for(var i=0;i<tedges.length;i++){
                    if(tedges[i].selected==true){
                        flag = true;
                        break;
                    }    
                }
                if(flag==false)
                    target.color = edefaultcolor;
            }
                
        }
        // console.log(lookupNodesByKeyValue(s,'id',e.data.edge.source)[0].color);
        s.refresh();                    
    });

//color inlet and outlet if input is text file
$(document).ready(function() {
    if("{{data.draw}}"=="False"){
        var adjMatrix = JSON.parse("{{data.adjMatrix}}".replace(/(&quot\;)/g,"\""));        
        for(var i=1;i<=nc;i++){
            var stri = i.toString();
            if(adjMatrix[stri].length!=0){
                $("#in"+stri).css('color', eclickcolor);
            }else{
                $("#in"+stri).css('color', edefaultcolor);
            }
            var outi = (i+(nr+1)*nc).toString();
            if(adjMatrix[outi].length!=0){
                $("#out"+stri).css('color', eclickcolor);
            }else{
                $("#out"+stri).css('color', edefaultcolor);
            }
        }

    }else{
        for(var i=1;i<=nc;i++){
            var stri = i.toString();
            $("#in"+stri).css('color', edefaultcolor); 
            $("#out"+stri).css('color', edefaultcolor);                  
        }
    }
});

// write grid geometry to file
$(document).on("click", "#download-btn",function(){
    var graph = {
        'nodes': s.graph.nodes(),
        'edges': s.graph.edges()
    }
    var gdata ={
        'graph': JSON.stringify(graph)
    }
    $.post('/download',gdata,function (data) {
            var file = new Blob([data], {type: "text/plain;charset=utf-8"});
            saveAs(file, "mygrid.txt");
        }
    );
});

// check inlet information and compute grid
$(document).on("click", "#run-btn",function(){
    var graph = {
        'nodes': s.graph.nodes(),
        'edges': s.graph.edges()
    }
    var nc = "{{data.nc}}";
    var ic = [];
    var iv = [];
    for(i=1;i<=nc;i++){
        var namec = "#ic" + i.toString();
        var namev = "#iv" + i.toString();
        ic.push($(namec).val());
        iv.push($(namev).val());
    }
    var sic = ic.join(",");
    var siv = iv.join(",");
    $.ajax({
        url: '/draw',
        type: 'POST',
        data: {
            status: 1,
            graph: JSON.stringify(graph),
            iv: siv,
            ic: sic
        },
        dataType: 'json',
        success: function (data) {
            // var msg = $(".side-nav-right").text();
            if (data=='0'){
                $("#error-msg").text("Grid has no input and/or output or it is not connected");
            }else if(data=='1'){
                $("#error-msg").text("Invalid inlet concentration. Concentration of choosen inlets must be in decreasing order");
            }else if(data=='2'){
                $("#error-msg").text("velocity has to be from 0-100, concentration has to be from 0-1");
            }else{
                $("#error-msg").text("");
                var g = JSON.parse(data.graph.replace(/(&quot\;)/g,"\""));
                for (var i=0;i<g.nodes.length;i++){
                    var id = g.nodes[i]["id"];
                    s.graph.nodes(id).color = g.nodes[i]["color"];
                }
                for (var i=0;i<g.edges.length;i++){
                    var id = g.edges[i]["id"];
                    s.graph.edges(id).color = g.edges[i]["color"];
                    s.graph.edges(id).selected = g.edges[i]["selected"];
                }
                s.refresh(); 
                for (i=0;i<data.resultList.length;i++){
                    if(data.resultList[i][1]!=0){                        
                        $("#con"+(i+1)).val(data.resultList[i][1].toFixed(2));
                        $("#vel"+(i+1)).val(data.resultList[i][0].toFixed(2));                      
                    }          
                }
            }                
        }   
  });//end click button
});
</script>
{% endblock %}


